.header {
  background: #00675b;
}

.header h3 {
  margin: 0 2%;
}

.container-fluid {
  width: 1440px;
  position: relative;
}

.about_user {
  background: #52c7b8;
  padding: 2% 0 0 16%;
  margin: 0;
}

.exti {
  padding-top: 0.375rem;
  position: absolute;
  top: 803.383px;
  width: 25%;
  z-index: 8;
  padding: 20px;
  padding-left: 69px;
  width: 35%;
  margin-left: 80px;
  opacity: 0.9;
  font-size: 28px;
}

.user_photo {
  width: 250px;
  border-radius: 25%;
  margin-bottom: 6%;
}

.discription {
  margin-top: 2%;
  margin-left: 3%;
}

.discription .discription_col {
  margin-bottom: 27%;
  width: 350px;
  font-size: 20px;
}

.about_edu {
  margin: 1% 17%;
}

.about_edu p {
  margin-left: 1%;
}

nav {
  margin: 1% 18%;
}

@media (min-width: 200px) and (max-width: 600px) {
  nav {
    margin: 1% 10%;
  }
}

.about_proj {
  background: #49afa2;
  position: relative;
}

.about_proj .about_proj__name {
  padding-left: 20%;
  position: absolute;
  top: -29px;
  font-size: 4.5rem;
}

@media (min-width: 200px) and (max-width: 600px) {
  .about_proj .about_proj__name {
    padding-left: 12%;
    top: -54px;
  }
}

.project {
  margin-top: 14%;
}

#gallery .pictures object {
  display: none;
  height: 1690px;
  margin-left: 14px;
  width: 1440px;
}

@media (min-width: 200px) and (max-width: 600px) {
  #gallery .pictures object {
    width: 100vw;
  }
}

@media (min-width: 600px) and (max-width: 1460px) {
  #gallery .pictures object {
    min-width: 600px;
    max-width: 1460px;
    width: 100vw;
  }
}

#gallery .pictures object:first-child {
  display: block;
  width: 1440px;
}

@media (min-width: 200px) and (max-width: 600px) {
  #gallery .pictures object:first-child {
    width: 100vw;
  }
}

@media (min-width: 200px) and (max-width: 700px) {
  #gallery .pictures object:second-child {
    width: 100vw;
  }
}

.controls {
  background: #333;
  color: #fff;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 10px 0px 0px 10px;
  width: 70px;
  font-size: 120px;
  width: 90px;
}

.controls:hover,
.controls:focus {
  background: #eee;
  color: #333;
}

#gallery {
  margin-top: 5%;
  position: relative;
}

@media (min-width: 200px) and (max-width: 600px) {
  #gallery {
    max-width: 600px;
    min-width: 200px;
  }
}

.btns {
  position: absolute;
  top: 20%;
}

.btns #next {
  margin-left: 64vw;
}

@media (min-width: 200px) and (max-width: 600px) {
  .btns #next {
    margin-left: 87vw;
  }
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  padding-left: 200px;
  padding-right: 200px;
}

@media (min-width: 200px) and (max-width: 600px) {
  .dropbtn {
    padding-left: 1%;
    padding-right: 10%;
    min-width: 200px;
    max-width: 600px;
  }
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  right: 0px;
  left: 0px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1.5rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
/*# sourceMappingURL=style.css.map */